<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script src="/socket.io/socket.io.js"></script>
	<script>
		$(document).ready(function() {
			var socket = io.connect();
			
			$('#epic').click(function(event) {
				socket.emit('epic_click');
			});
			
			$('#reset').click(function(event) {
				socket.emit('reset');
			});
			
			socket.on('server_update', function(data) {
				$('#btn_press_count').html(data);
			});
		});
	</script>
</head>
<body>
	<div class="container text-center">
		<h3>The button has been pushed <span id="btn_press_count">0</span> time(s)</h3>
		<h5>Push the epic button to update the count!</h5>
		<button id="epic" class="btn btn-primary">Epic Button</button>
		<button id="reset" class="btn btn-danger">Reset Count</button>
	</div>
</body>
</html>