<html>
	<head></head>
	<body>
	<form>
		<input action="/users" method="post">
		<p>Name:<input type="text" name="name"></p>
		<p>Age:<input type="number" name="age" min="18" max="100"></p>
		<p><input type="submit" value="Submit"></p>
	</form>



	</body>
</html>