<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/result" method="POST">
		<p>Your Name: <input type="text" name="name"></p>
		<p>Dojo Location: <input type="text" name="location"></p>
		<p>Favorite Language: <input type="text" name="language"></p>
		<p>Comment: <input type="text" name="comment"></p>
		<input type="submit" value="Submit!">
	</form>
</body>
</html>