<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Submitted Information: </h1>
	<p>Name: <%=user.name%></p>
	<p>Dojo Location: <%=user.location%></p>
	<p>Favorite Language: <%=user.language%></p>
	<p>Comment:<%=user.comment%></p>
	<button><a href="/">Go Back!</a></button>
</body>
</html>