<html>
    <head>
       <title>Simple Form</title>
    </head>
    <body>
      All the wolves:
      <div>
        <% for(i in wolves){ %>
          <p> <a href="/mongooses/<%=wolves[i]._id %>">Name: <%= wolves[i].name %></a></p>
          <p> Color: <%= wolves[i].color %></p>
          <p>Age:  <%= wolves[i].age %> </p>
          <hr>
        <% } %>
      </div>
    </body>
</html>
