<html>
    <head>
       <title>Simple Form</title>
    </head>
    <body>
      <form action="/mongooses" method="post">
        Name: <input type="text" name="name" /> <br />
        Color: <input type="text" name="color" /> <br />
        Age: <input type="number" name="age" /> <br />
        <input type="submit" value="Submit" />
      </form>

    </body>
</html>
