<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body>
    <h1>Your results came back..</h1>
    <div class='results'>
      <h4>Submitted Information</h4>
      <p>Name: <%= user.name %></p>
      <p>Dojo Location: <%= user.location %></p>
      <p>Favorite Language: <%= user.language %></p>
      <p>Comment: <%= user.comment %></p>
      <a href='/'>Go Back</a>
    </div><!-- results -->
  </body>
</html>
