<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add Rabbit</h1>
    <form class="" action="/mongooses" method="post">
      Name: <input type="text" name="name" value="">
      Age: <input type="text" name="age" value="">
      Color: <input type="text" name="color" value="">
      <input type="submit" name="submit" value="Submit">
    </form>
    <p>
      <a href="/">Home</a>
    </p>
  </body>
</html>
