<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Cool Catz</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/styles.css'>
  </head>
  <body>
    <h1>Cool Catzz</h1>
    <div class='pix'>
      <img src='/images/cool_cat.jpg' alt='Cool Cat'>
      <img src='/images/hipster_cat.jpg' alt='Hipster Cat'>
      <img src='/images/grumpy_hipster.jpg' alt='Grumpy Hipster Cat'>
      <img src='/images/grumpy_programmer.jpg' alt='Grumpy Programmer Cat'>
    </div><!-- pix -->
  </body>
</html>
