<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>success</title>
        <link rel="stylesheet" href="style.css" media="screen" title="no title">
    </head>
    <body>
        <div id="wrapper">
                <h4>submitted info</h4>
                <%  for(var i in info){ %>
                    <div class="">
                        <%= i %>
                        <%= info[i] %>
                    </div>
                <% } %>
            </div>
        </div>
        </div>
    </body>
</html>
