<!DOCTYPE html>
<html>
<head>
    <title>Result Page</title>
</head>
<body>
    <h2>Here are the results:</h2>

        <h3>Name: <%= result.name %></h3>
        <h4>Dojo Location: <%= result.location %></h4>
        <h5>Favorite Language: <%= result.language %></h5>
        <h6>Comment: <%= result.comment %></h6>
</body>
</html>
