<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script src="/socket.io/socket.io.js"></script>
	<script>
		function displayMessage(username, msgOwner, msg) {
			if (msgOwner === username) {
				$('#messages').append('<div><p><strong>' + msgOwner + ':</strong><br>' + msg + '</p></div>');
			} else {
				$('#messages').append('<div class="text-right"><p><strong>' + msgOwner + ':</strong><br>' + msg + '</p></div>');
			}
		};
		
		$(document).ready(function() {
			var socket = io.connect();
			
			/* prompt user for name and emit to server */
			var username = window.prompt('Enter your name:', 'default');
			socket.emit('user_joined', username);
			
			socket.on('user_added', function(data) {
				$('#heading').append(' - Hi, ' + username);
				
				for (var index in data) {
					displayMessage(username, data[index].name, data[index].message);
				}
			});
			
			socket.on('new_user_joined', function(data) {
				$('#messages').append('<p class="text-info small"><em><strong>' + data + '</strong> joined the conversation...</em></p>');
			});
			
			socket.on('new_message', function(data) {
				displayMessage(username, data.name, data.message);
			});
			
			socket.on('user_left', function(data) {
				$('#messages').append('<p class="text-danger small"><em><strong>' + data + '</strong> left the conversation...</em></p>');
			});
			
			$('form').submit(function(event) {
				socket.emit('new_message', $('#new_message').val());
				$('#new_message').val('');
				return false;
			});
		});
	</script>
</head>
<body>
	<div class="container">
		<div class="col-md-6">
			<h1></h1>
			<div class="panel panel-default">
				<div id="heading" class="panel-heading">Conversation Board</div>
				<div id="messages" class="panel-body">
					<!-- filled dynamically -->
				</div>
			</div>
			<form>
				<div class="form-group">
					<input class="form-control" type="text" id="new_message" placeholder="enter message here...">
				</div>
				<input class="btn btn-default" type="submit" value="Send">
			</form>
		</div>
	</div>
</body>
</html>