<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Controller and Directives</title>

    <!-- bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- angular -->

    <script src = 'bower_components/angular/angular.js'></script>
    <script>

    var app = angular.module('app', []);
    app.controller('foodController', ['$scope', function($scope) {

        $scope.food = [];

        $scope.addFood = function(foodInput) {
            if (foodInput && foodInput.length >= 1) {
                $scope.food.push(foodInput);
                $scope.foodInput = '';
            }
        }

        $scope.printToConsole = function() {
            console.log("This form was submitted!");
        }

    }]);


    </script>
</head>
<body>

    <div class="container">
        <div ng-controller = "foodController">
            <h3>Welcome to the controller</h3>
            <hr>
            <br>
            <div class="col-md-6">
                <form ng-submit="printToConsole()">
                    Favorite Food: <input type="text" ng-model="foodInput" placeholder="Food">
                    <button class="btn btn-primary" ng-click = "addFood(foodInput)">Add Food</button>
                </form>

                <h4 ng-show="foodInput.length > 0">Currently typing: <span ng-bind="foodInput"></span></h4>

                <div ng-hide="foodInput.length > 0">
                    <small class="text-danger">Type above to show hidden content</small>
                </div>
            </div>
            <div class="col-md-3">
                <input type="search" ng-model="searchText" placeholder="filter...">

                <div class="panel panel-default" ng-if="food.length > 0">

                    <p ng-repeat="item in food | filter:searchText">{{ item }}</p>

                </div>               
            </div>
        </div>
    </div>
</body>
</html>