<html>
<head>
  <title>Add a New Car!</title>
  <style>
  *{
    font-family: sans-serif;
  }
  form ul li{
    list-style-type: none;
  }

  .add{
    display:inline-block;
    width: 500px;
    background-color: grey;
    vertical-align: top;
  }
  </style>
</head>
<body>
  <h1>Welcome!</h1>


  <div class="add">
    <h2>Add a New Car!</h2>
    <form action='/register' method='POST'>
      <ul>
        <li>Make:<input type="text" name="make" ></li>
        <li>Model:<input type="text" name="model" ></li>
        <li>Year:<input type="text" name="year" ></li>
      </ul>
      <input type="submit" value="Add!">
    </form>
  </div>

</body>
</html>
