<html>
    <head>
       <title>Simple Form</title>
    </head>
    <body>
      <h1>Here are some awesome quotes!</h1>
      
      <div>
        <% for(var i in quotes){ %>
          <p>"<%= quotes[i].quote %>"</p>
          <p>-- <%= quotes[i].name %> at <%= quotes[i].created_at %></p>
          <hr>
        <% } %>
      </div>
    </body>
</html>
