<html>
    <head>
       <title>Simple Form</title>
    </head>
    <body>
      <%if(sess.errors){%>
          <h3><%= sess.errors %></h3>
      <% }%>
      <form action="/quotes" method="post">
        Name: <input type="text" name="name" /> <br />
        Quote: <textarea name="quote"></textarea> <br />
        <input type="submit" value="Add Quote!" />
      </form>
      <br/>
      <a href="/quotes"><button>Go to Quotes!</button></a>
    </body>
</html>
