*{
 margin: 0px;
 padding: 0px;
 outline: 0px;
 border: 0px;
}
button {
  border: solid black 1px;
  padding: 5px 20px;
  border-radius: 3px;
  margin-left: 10px;
}
.blue {
  background-color: lightblue;
}
.red {
  background-color: red;
}
.green {
  background-color: lightgreen;
}
