<html>
<body>
	<h1>Submitted Information</h1>
	<p>Name:<%= user.name %></p>
	<p>Dojo Location:<%= user.location %></p>
	<p>Favorite Language:<%= user.language %></p>
	<p>Comment:<%= user.comment %></p>
	<p><a href="/">Go Back</a></p>
</body>
</html>