*{
  font-family: sans-serif;
}

#wrapper{
  width: 100%;
  text-align: center;
}

#push{
  width: 250px;
  height: 100px;
  background-color: blue;
  color: white;
  border-radius: 30px;
  font-size:20px;
}

#reset{
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: darkred;
  color: white;
  width: 100px;
  font-size: 16px;
  border-radius: 30px;

}
