<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    </script>
  </head>
  <body>
    <h1>Welcome to Quoting dojo</h1>
    <form class="" action="/quotes" method="post">
      Your Name: <input type="text" name="name" value="">
      Your Quote: <textarea name="quote" rows="8" cols="40"></textarea>
      <input type="submit" name="submit" value="Add my Quote!">
    </form>
    <a href="/quotes">Skip to quotes</a>
  </body>
</html>
