<html>
<head>
<title></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){

            var socket = io.connect();

            $('#push').click(function (){
                // var counter= $('span').text(); --> for if we wanted each user to have their
                // counter = parseInt(counter); --> own counters (but not here)
                socket.emit("button_clicked");
            });
            socket.on('updated_counter', function (count){
                $('span').html(count['count']);
            });
            $('#reset').click(function (){
                socket.emit("reset_clicked");
            });

        })
    </script>
</head>
<body>
    <div id="wrapper">

      <h2>The button has been pushed <span><%= counter %></span> time(s)</h2>
      <h5>Push the button to update the count!</h5>
      <button id="push">PUSH THE EPIC BUTTON!</button>

      <button id="reset">reset</button>
    </div>
</body>
</html>
