
  <h2>Associations</h2>
  <form class="form-inline" ng-submit= 'add()'>
    <div class="form-group">
      Player:
      <select name="player" ng-model='newAssoc.player'>
        <option ng-repeat="player in players track by $index" value="{{$index}}"> {{player.name}} </option>
      </select>
     </div>
     <div class="form-group">
       Team
       <select name="team" ng-model='newAssoc.team'>
         <option ng-repeat="team in teams" value="{{team}}"> {{team}} </option>
       </select>
    </div>
    <button type='submit' class="btn btn-default">Add Association</button>
  </form>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in players track by $index">
        <td> {{ player.name }} </td>
        <td> <a href="#/{{player.team}}">{{ player.team }}</a> </td>
        <td><button class="btn btn-default" ng-click='clear($index)'>Clear Assignment</button></td>
      </tr>
    </tbody>
  </table>
