<html>
    <head>
       <title>Dojo Survey Index</title>
       <link rel="stylesheet" type="text/css" href="/styles.css">
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
       <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
       <script type ="text/javascript">
       $(document).ready(function (){
           // this triggers the connection event in our server!
           var socket = io.connect();
           $('form').submit(function (){
               var data = $('form').serialize();
               socket.emit("posting_form", data);
               return false;
           });
           socket.on('updated_message', function (user){
               var user = JSON.stringify(user);
               console.log(user);
               var htmlString= "<p>You emitted the following information to the server : ";
               $('#response').html(htmlString + user + "</p>");
           });
           socket.on('random_number', function (num){
               var htmlString= "<p>Your lucky number emitted by the server is ";
               $('#response').append(htmlString + num + "</p>");
           });


       })
   </script>

    </head>
    <body>
      <div id="response">
      </div>
      <div id="getinfo">
        <form method="post">
          <table>
            <tbody>
              <tr>
                <td>Your Name:</td>
                <td><input type='text' name='name'></td>
              </tr>
              <tr>
                <td>Dojo Location:</td>
                <td>
                  <select name="location">
                    <option value="siliconvalley">Silicon Valley</option>
                    <option value="seattle">Seattle</option>
                    <option value="la">Los Angeles</option>
                    <option value="dallas">Dallas</option>
                    <option value="dc">Washington DC</option>
                    <option value="chicago">Chicago</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Favorite Language:</td>
                <td>
                  <select name="language">
                    <option value="python">Python</option>
                    <option value="php">PHP</option>
                    <option value="c++">C++</option>
                    <option value="c#">C#</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <p>Comment (optional) :</p>
          <textarea name="comment" placeholder="Enter text here..."></textarea>
          <input type='submit' value='create user'>
        </form>
      </div>
    </body>
</html>
