<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
<div class="row">
<div class="col-md-10">
<h1 class="text-center">Welcome to QuotingDojo</h1>
		<div>
			<% if(typeof(errors)!= 'undefined'){ %>
				<% for(var x in errors) { %>
					<h3 class="bg-danger"><%= errors[x].message %></h3>
				<% } %>
			<% } %>
		</div>
		<div class="col-md-8">
			<form action="/quotes/add" method="post">
				<div class = "form-group">
					<label for="name">Name:</label> 
					<input type="text" name="name" class = form-control placeholder="name"/>
				</div>
				<div class"form-group">
					<label for="quote">Quote</label>
					<textarea name="quote" id="" cols="10" rows="10" class="form-control" placeholder="Quotes"></textarea>
				</div>
				<button type="submit" class="btn btn-info btn-sm">Add Quote</button>
			</form>
			<a href="/quotes"><button class="btn btn-warning">Go to Quotes</button></a>
		</div>
		
	</div>
</div>
	
</body>
</html>