<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
<div class="row">
<div class="col-md-10">
<h1>Here are the Awsome Quotes</h1>
	
		<div class="col-md-8">
		<table>
			<tbody>
			<% for(var x in quotes) { %>
				<tr>
					<td>
						<p>"<%=quotes[x].quote %>"</p>
						<p><%=quotes[x].name %> -- <%=quotes[x].createdAt%></p>
					</td>
				</tr>
			<% } %>
			</tbody>
		</table>
		<a href="/"><button class="btn btn-warning">Add Quotes</button></a>
		</div>
	
	</div>
</div>
	
</body>
</html>