<!DOCTYPE html>
<html>
<head>
	<title>Survey Form</title>
</head>
<body>
	<h1>This is the Survey Form!</h1>
	<h2>Name</h2>
	<form action="/results" method="POST">
	<input type="name" name="name">
	<h2>Dojo Location</h2>
	<select name="location">
		<option value="Los Angeles">Los_Angeles</option>
		<option value="Dallas">Dallas</option>
		<option value="San Diego">San_Diego</option>
		<option value="Sillicon Valley">Sillicon_Valley</option>
		<option value="Chicago">Chicago</option>
	</select>
	<h2>Favorite Language</h2>
	<select name="language">
		<option value="HTML">HTML</option>
		<option value="Python">Python</option>
		<option value="PHP">PHP</option>
		<option value="Javascript">Javascript</option>
		<option value="Ruby">Ruby</option>
	</select>
	<h2>Comments(optional)</h2>
	<textarea name="comments" rows="4" cols="50"></textarea>
	<input type="submit" value="submit">
</html>
