<!DOCTYPE html>
<html>
<head>
	<title>Survey Form</title>
</head>
<body>
	<p>Name:<%=data.name%></p>
	<p>Location:<%=data.location%></p>
	<p>language:<%=data.language%></p>
	<p>Comments(optional)<%=data.comments%></p>
	<hr>
</body>
</html>