<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <h3>Submitted info</h3>
      Name: <%= user.name %>
      <hr>
      Location: <%= user.location %>
      <hr>
      Language: <%= user.language %>
      <hr>
      Comment: <%= user.comment %>
      <hr>
      <a href="/">Home</a>
    </div>
  </body>
</html>
