<html>
	<head>
		<title>Welcome to Quoting Dojo</title>
	</head>
	<body>
		<h1>Welcome to Quoting Dojo</h1>
		<form action='/quotes' method='POST'>
		<h2>Your name:<input type='text' name='name'></h2>
		<h2>Your quote:<input type='text' name='quote'></h2>
		<input type='submit' value='Add'>
		</form>

		<p><a href='/quotes/show'>Skip to Quotes</a></p>
	</body>
</html>